#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

name: frpc_ssh_macos
on:
  workflow_dispatch:
    inputs:
      port:
        description: 'port'
        required: true
      initimg:
        description: 'initimg'
        required: false
      timeout:
        description: 'timeout'
        required: false
        default: 120
        type: number 
  # pull_request:

jobs:
  build:
    name: start_frpc
    runs-on: macos-12
    steps:
      - name: checkoutactions
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Install kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: v1.26.3

# TODO install bins:  kind/ko...
      - uses: oras-project/setup-oras@v1
        with:
          version: 1.0.0

      - name: run frpc
        env:
          GH_TOKEN: ${{ secrets.GH_PACKAGE_TOKEN }}
          FRPC_PORT: ${{ inputs.port }}
          WORKSPACE: ssh
          SYSTEM: macos
        run: |
          oras login ghcr.io -uliangyuanpeng -p${{ secrets.GH_PACKAGE_TOKEN }}
          oras pull  ghcr.io/liangyuanpeng/lanfiles:ghdev
          chmod +x init.sh
          ./init.sh & sleep 10h