#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

name: frpc_webtop
on:
  workflow_dispatch:
    inputs:
      port:
        description: 'port'
        required: true
      initimg:
        description: 'initimg'
        required: false
      timeout:
        description: 'timeout'
        required: false
        default: 120
        type: number 

jobs:


  build:
    name: start_frpc
    runs-on: ubuntu-22.04
    timeout-minutes: 120
    steps:
      - name: checkoutactions
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: mv frpc.tar
        run: |
          mv frpc.tar /tmp/frpc.tar

      - uses: oras-project/setup-oras@v1
        with:
          version: 1.0.0

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.26.3

      - name: Set up Go
        uses: actions/setup-go@v5.0.1
        with:
          go-version: 1.19

      - name: run frpc
        env:
          GH_TOKEN: ${{ secrets.GH_PACKAGE_TOKEN }}
          FRPC_PORT: ${{ inputs.port }}
          WORKSPACE: webtop
          SYSTEM: debian
        run: |
          oras login ghcr.io -uliangyuanpeng -p${{ secrets.GH_PACKAGE_TOKEN }}
          mv /tmp/frpc.tar .
          tar -xvf frpc.tar && cd frpc
          cat frpc.ini
          sed -i 's/FRPC_PORT/${{ inputs.port }}/g' frpc.ini
          sed -i 's/FRPC_NAME/gh_vscode_${{ inputs.port }}/g' frpc.ini
          sed -i 's/FRP_SERVER/${{ secrets.FRP_SERVER_ADDR }}/g' frpc.ini
          sed -i 's/FRP_PORT/${{ secrets.FRP_SERVER_PORT }}/g' frpc.ini
          sed -i 's/FRPC_LOCAL_PORT/3001/g' frpc.ini
          cd ..
          oras pull ghcr.io/liangyuanpeng/lanfiles:ghdev
          chmod +x init.sh
          ./init.sh
          docker run -it -d -v /var/run/docker.sock:/var/run/docker.sock --rm docker:stable docker pull bitnami/git:latest
          docker run -it -d -v /var/run/docker.sock:/var/run/docker.sock --rm docker:stable docker pull linuxserver/webtop:amd64-ubuntu-kde-781d8753-ls91
          export GITHUB_TOKEN_PACKAGE=${{ secrets.GH_PACKAGE_TOKEN }}
          TZ=UTC-8 date -d '2hour' +%Y-%m-%d" "%H:%M:%S > shutdowntime
          docker run --network host -d --name=webtop -e PUID=1000 -e PGID=1000 -e TZ=Asia/Shanghai  -v /usr/local/webtop:/config -v /var/run/docker.sock:/var/run/docker.sock --shm-size="8gb" --restart unless-stopped  linuxserver/webtop:amd64-ubuntu-kde-781d8753-ls91
          sudo chmod -R 777 /usr/local/webtop
          scripts/workspace.sh rebuild ghcr.io/liangyuanpeng/workspace:latest /usr/local/webtop/
          cp -rf scripts /usr/local/webtop/scripts
          mkdir -p /usr/local/webtop/bin
          mkdir -p /usr/local/webtop/repo
          mkdir -p /usr/local/webtop/jdks
          mkdir -p /usr/local/webtop/.m2
          mkdir -p /usr/local/webtop/.jdks
          sudo chmod -R 777 /usr/local/webtop/repo
          cp /usr/local/bin/oras /usr/local/webtop/bin/oras
          docker run -it -d -v /usr/local/webtop/repo/pulsar:/pulsar --rm bitnami/git:latest git clone --depth 1 https://github.com/apache/pulsar.git pulsar
          docker run -it -d -v /usr/local/webtop/repo/bookkeeper:/bookkeeper --rm bitnami/git:latest git clone --depth 1 https://github.com/apache/bookkeeper.git bookkeeper
          oras pull ghcr.io/liangyuanpeng/soft:maven
          oras pull ghcr.io/liangyuanpeng/soft:idea
          ls
          tar -xzf idea*.gz 
          tar -xzf apache*.gz
          rm -f *.gz
          mv idea-* /usr/local/webtop/
          mv apache-maven* /usr/local/webtop/
          mkdir maven-depend && cd maven-depend && oras pull ghcr.io/liangyuanpeng/maven-depend:latest && tar -xf *.tar && rm -f *.tar && cd ..
          mkdir jdk && cd jdk && oras pull ghcr.io/liangyuanpeng/jdk:temurin-17.0.5-single && tar -zxf te*.tar && rm -f *.tar && cd ..
          mv jdk/* /usr/local/webtop/.jdks/
          mv maven-depend/repository /usr/local/webtop/.m2/
          nohup docker rmi `docker images -aq` &
          frpc/frpc -c frpc/frpc.ini  & scripts/runopenvscode.sh

  active:
    name: print
    runs-on: ubuntu-22.04
    steps:
      - name: checkoutactions
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - run: |
          env
          