#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

name: k8s_ci_push
on:
  push:
    branches: [ k8s_ci_push ]

permissions:
  packages: write

env:
  GH_TOKEN: ${{ github.token }}

jobs:


  # k8sci-branch:
  #   name: k8sci-${{ matrix.ref }}
  #   uses: ./.github/workflows/k8s_ci.yml
  #   strategy:
  #     max-parallel: 6
  #     fail-fast: false
  #     matrix:
  #       tests:
  #         - conformance
  #         - conformance-lease
  #       ref: 
  #       - master 
  #   with:
  #     ref: ${{ matrix.ref }}
  #     testname: ${{ matrix.tests }}

  build-kindnode:
    name: build-kindnode-${{ matrix.ref }}
    #TODO 构建的是 ghcr.io/liangyuanpeng/kindest/node 需要的是 ghcr.io/liangyuanpeng/kindest/testnode
    uses: ./.github/workflows/kindnode_release_template.yml
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        ref:
        - master 
        - release-1.30
        - release-1.29
        - release-1.28
    with:
      repo: kubernetes/kubernetes
      ref: ${{ matrix.ref }}
      imgrepo: kindest/testnode

  k8sci:
    name: k8sci
    needs: build-kindnode
    # if: always()
    uses: ./.github/workflows/k8s_ci.yml
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        tests:
          - conformance
          - conformance-lease
          - conformance-sig-app
          - conformance-sig-node
          - conformance-50
          - conformance-aggregator
          # - sig-apps
          # - statefulset
        ref: 
        - master 
        - release-1.30
        - release-1.29
        - release-1.28
    with:
      # repo: ${{ matrix.repo }}
      ref: ${{ matrix.ref }}
      testname: ${{ matrix.tests }}

