name: call karmada release

on:
  push:
    branches: [ karmada ]

jobs:

  get_date:
    name: get date
    runs-on: ubuntu-22.04
    outputs:
      today: ${{ steps.outputdate.outputs.today }}
      hello: ${{ steps.outputdate.outputs.hello }}
    steps:
      - name: outputdate
        id: outputdate
        run: |
          DATE_TODAY=`date "+%Y%m%d"`
          echo "today=$DATE_TODAY" >> "$GITHUB_OUTPUT"

  get_dirty_tag:
    name: get dirty tag
    runs-on: ubuntu-22.04
    outputs:
      tag: ${{ steps.outputdate.outputs.today }}
    steps:
      - name: checkout code
        uses: actions/checkout@v3
        with:
          repository: "liangyuanpeng/karmada"
          fetch-depth: 0
          ref: cleanup_webhook_tls
      - name: outputtag
        id: outputtag
        run: |
          TAG=`git describe --tags --dirty`
          echo "tag=$TAG" >> "$GITHUB_OUTPUT"

  print_date:
    name: print output
    runs-on: ubuntu-22.04
    needs: get_date
    steps:
      # TODO call github action to run
      - name: print output
        run: |
          echo ${{needs.get_date.outputs.today}}
          echo ${{needs.get_date.outputs.hello}}

  call_karmada_dirty:
    # uses: liangyuanpeng/lanactions/.github/workflows/karmada_release.yaml@pulsar
    uses: ./.github/workflows/karmada_release.yaml
    # needs: get_dirty_tag
    with:
      tag: ${{needs.get_dirty_tag.outputs.tag}}
      ref: "cleanup_webhook_tls"
    secrets:
      DOCKERHUB_USER_NAME: ${{ secrets.DOCKERHUB_USER_NAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  call_karmada_release:
    uses: ./.github/workflows/karmada_release.yaml
    needs: get_date
    with:
      tag: ${{needs.get_date.outputs.today}}
      ref: "cleanup_webhook_tls"
    secrets:
      DOCKERHUB_USER_NAME: ${{ secrets.DOCKERHUB_USER_NAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  call_karmada_release_latest:
      uses: ./.github/workflows/karmada_release.yaml
      with:
        tag: latest
        ref: "master"
      secrets:
        DOCKERHUB_USER_NAME: ${{ secrets.DOCKERHUB_USER_NAME }}
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
