name: call karmada release

on:
  push:
    branches: [ karmada ]

jobs:

  get_date:
    name: get date
    runs-on: ubuntu-20.04
    outputs:
      today: ${{ steps.outputdate.outputs.today }}
    steps:
      - name: outputdate
        run: |
          echo "today=`date "+%Y%m%d"`" >> "$GITHUB_OUTPUT"

  print_date:
    name: print output
    runs-on: ubuntu-20.04
    needs: get_date
    steps:
      # TODO call github action to run
      - name: print output
        run: |
          echo ${{needs.get_date.outputs.today}}

  call_karmada_release:
    uses: liangyuanpeng/lanactions/.github/workflows/karmada_release.yaml@pulsar
    needs: get_date
    with:
      tag: ${{needs.get_date.outputs.today}}
    secrets:
      DOCKERHUB_USER_NAME: ${{ secrets.DOCKERHUB_USER_NAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        
        

