#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

name: kubernetes_release_template
on:
  workflow_call:
    inputs:
      ref:
        description: 'source ref of kubernetes '
        required: false
        default: "master"
        type: string
      repo:
        description: 'kubernetes/kubernetes'
        required: false
        default: "kubernetes/kubernetes"
        type: string
      

permissions:
  packages: write

env:
  GOFLAGS: "-p=2"

jobs:

#TODO cross 多架构镜像构建.
#TODO arm64 架构镜像构建
  release:
    name: release-${{ inputs.ref }}
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:

      - name: checkoutactions
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repo }}
          fetch-depth: 0
#          ref: v1.27.4-patch #ed18ab54ba9925c835a69dd155b1217af9ab630a #dev_1.28
#          ref: dev_1.28
          # ref: master
          ref: ${{ inputs.ref }}

      - name: git tag
        run: |
          echo "do git tag"
          #git tag v1.27.4-patch
          nohup docker rmi `docker images -aq` &

      - name: checkimgs
        id: checkimgs
        run: |
          docker login ghcr.io -uliangyuanpeng -p${{ secrets.GITHUB_TOKEN }}
          IMGTAG=`git describe --tags`
          echo "check images for "$IMGTAG
          IMAGE_EXIST=`oras manifest fetch ghcr.io/$GITHUB_REPOSITORY_OWNER/conformance-amd64:$IMGTAG  | grep schemaVersion | wc -l `
          if [ $IMAGE_EXIST -eq 1 ]; then
            echo "exist kubeimgs"
            echo "exist=true" >> "$GITHUB_OUTPUT"
          else 
            echo "exist=false" >> "$GITHUB_OUTPUT"
          fi

      - uses: oras-project/setup-oras@main
        if: steps.checkimgs.outputs.exist != 'true'
        with:
          version: 1.2.0

      - uses: actions/setup-go@v5
        if: steps.checkimgs.outputs.exist != 'true'
        with:
          go-version: '1.22'

      - name: Free Disk Space (Ubuntu)
        if: steps.checkimgs.outputs.exist != 'true'
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: false

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: $GITHUB_REPOSITORY_OWNER
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: make
        if: steps.checkimgs.outputs.exist != 'true'
        run: |

          sudo apt install -y tree

          export KUBE_DOCKER_REGISTRY=ghcr.io/liangyuanpeng

          export IMGTAG=`git describe`
          echo "IMGTAG:"$IMGTAG
          git tag `git describe`
          echo "begin make"
          
          #make quick-release-images
          #make release-images KUBE_BUILD_CONFORMANCE=y
          export GOFLAGS="-p=2"
          KUBE_BUILD_CONFORMANCE=y KUBE_BUILD_PLATFORMS="linux/amd64 linux/arm64" make quick-release-images
          mkdir -p _output/release-images

          #make quick-release-images KUBE_BUILD_CONFORMANCE=y

          # 现在默认构建的镜像版本和git describe 不太一样
          # 默认的是修改过，符合版本定义的  v1.31.0-alpha.0.26_7606cf7b3d7828
          # git describe 则是             v1.31.0-alpha.0-26-g7606cf7b3d7
          # cat .dockerized-kube-version-defs | grep KUBE_GIT_VERSION |  cut -d'=' -f2 | sed "s/'//g"

          docker images
          ls _output
          echo "======================="
          ls _output/release-images
          echo "======================="
          ls _output/images
          echo "======================="
          tree _output
          echo "======================="
          rm -rf _output/dockerized
          rm -rf _output/release-stage

          docker load -i _output/release-images/amd64/kube-apiserver.tar
          rm -f _output/release-images/amd64/kube-apiserver.tar
          docker load -i _output/release-images/amd64/kube-controller-manager.tar
          rm -f _output/release-images/amd64/kube-controller-manager.tar
          docker load -i _output/release-images/amd64/kube-proxy.tar
          rm -f _output/release-images/amd64/kube-proxy.tar
          docker load -i _output/release-images/amd64/kube-scheduler.tar
          rm -f _output/release-images/amd64/kube-scheduler.tar
          docker load -i _output/release-images/amd64/conformance-amd64.tar
          rm -f _output/release-images/amd64/conformance-amd64.tar
          
          docker images

          #TODO skopeo?
          docker tag registry.k8s.io/kube-apiserver-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-apiserver-amd64:$IMGTAG
          docker tag registry.k8s.io/kube-controller-manager-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-controller-manager-amd64:$IMGTAG
          docker tag registry.k8s.io/kube-proxy-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-proxy-amd64:$IMGTAG
          docker tag registry.k8s.io/kube-scheduler-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-scheduler-amd64:$IMGTAG
          docker tag registry.k8s.io/conformance-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/conformance-amd64:$IMGTAG
          
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-apiserver-amd64:$IMGTAG
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-controller-manager-amd64:$IMGTAG
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-proxy-amd64:$IMGTAG
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-scheduler-amd64:$IMGTAG
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/conformance-amd64:$IMGTAG

          docker tag registry.k8s.io/kube-apiserver-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-apiserver:$IMGTAG
          docker tag registry.k8s.io/kube-controller-manager-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-controller-manager:$IMGTAG
          docker tag registry.k8s.io/kube-proxy-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-proxy:$IMGTAG
          docker tag registry.k8s.io/kube-scheduler-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-scheduler:$IMGTAG
          docker tag registry.k8s.io/conformance-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/conformance:$IMGTAG
          
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-apiserver:$IMGTAG
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-controller-manager:$IMGTAG
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-proxy:$IMGTAG
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-scheduler:$IMGTAG
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/conformance:$IMGTAG

          if [ "${{ inputs.ref }}" = "master" ];then 
            docker tag registry.k8s.io/kube-apiserver-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-apiserver-amd64:latest
            docker tag registry.k8s.io/kube-controller-manager-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-controller-manager-amd64:latest
            docker tag registry.k8s.io/kube-proxy-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-proxy-amd64:latest
            docker tag registry.k8s.io/kube-scheduler-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-scheduler-amd64:latest
            docker tag registry.k8s.io/conformance-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/conformance-amd64:latest
          
            docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-apiserver-amd64:latest
            docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-controller-manager-amd64:latest
            docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-proxy-amd64:latest
            docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-scheduler-amd64:latest
            docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/conformance-amd64:latest

            docker tag registry.k8s.io/kube-apiserver-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-apiserver:latest
            docker tag registry.k8s.io/kube-controller-manager-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-controller-manager:latest
            docker tag registry.k8s.io/kube-proxy-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-proxy:latest
            docker tag registry.k8s.io/kube-scheduler-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-scheduler:latest
            docker tag registry.k8s.io/conformance-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/conformance:latest
          
            docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-apiserver:latest
            docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-controller-manager:latest
            docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-proxy:latest
            docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-scheduler:latest
            docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/conformance:latest

          fi

          docker tag registry.k8s.io/kube-apiserver-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-apiserver-amd64:${{ inputs.ref }}
          docker tag registry.k8s.io/kube-controller-manager-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-controller-manager-amd64:${{ inputs.ref }}
          docker tag registry.k8s.io/kube-proxy-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-proxy-amd64:${{ inputs.ref }}
          docker tag registry.k8s.io/kube-scheduler-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-scheduler-amd64:${{ inputs.ref }}
          docker tag registry.k8s.io/conformance-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/conformance-amd64:${{ inputs.ref }}
          
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-apiserver-amd64:${{ inputs.ref }}
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-controller-manager-amd64:${{ inputs.ref }}
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-proxy-amd64:${{ inputs.ref }}
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-scheduler-amd64:${{ inputs.ref }}
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/conformance-amd64:${{ inputs.ref }}

          docker tag registry.k8s.io/kube-apiserver-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-apiserver:${{ inputs.ref }}
          docker tag registry.k8s.io/kube-controller-manager-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-controller-manager:${{ inputs.ref }}
          docker tag registry.k8s.io/kube-proxy-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-proxy:${{ inputs.ref }}
          docker tag registry.k8s.io/kube-scheduler-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-scheduler:${{ inputs.ref }}
          docker tag registry.k8s.io/conformance-amd64:$IMGTAG ghcr.io/$GITHUB_REPOSITORY_OWNER/conformance:${{ inputs.ref }}
          
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-apiserver:${{ inputs.ref }}
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-controller-manager:${{ inputs.ref }}
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-proxy:${{ inputs.ref }}
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/kube-scheduler:${{ inputs.ref }}
          docker push ghcr.io/$GITHUB_REPOSITORY_OWNER/conformance:${{ inputs.ref }}

          docker images
          docker logout ghcr.io
